/**
 * Created by swii on 2016/9/18.
 */
/*设置导航样式效果*/
a{
    text-decoration:none;
}
a:hover{
    color:red;
    text-decoration: underline;
}
#bg-div{
    text-align:center;
    width:640px;
    clear:both;
}

/*导航条样式*/
#menuDiv{
	margin-top:10px;
    height:27px;
    width:70%;
    line-height: 1.2;
    text-align:left;
    top:-35px;
    display:inline-block;
    background-image: url("../img/dd_head_bg_mid.gif");
    background-position: 0px -63px;
    color:white;
	padding-top:5px;
	padding-left:200px;
}
#menuDiv a{
    display: inline-block;
	color:#fff;
    padding:0 4px;
}
