<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.ibeifeng.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>loginServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>loginServlet.CheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestSession</servlet-name>
    <servlet-class>session.TestSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestJavabean</servlet-name>
    <servlet-class>javabean.TestJavabean</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestSession</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestJavabean</servlet-name>
    <url-pattern>/TestJavabean</url-pattern>
  </servlet-mapping>

</web-app>